<html>
   <head>

   </head>
   <body>
       <h1>Thêm quảng cáo</h1>
    <a href="addblog">Trở về</a>
    <form action="addvertise" method="POST" role="form" enctype="multipart/form-data">
        <label>Vui lòng chọn ảnh có kích thước 850 x 350</label><br/>
        <label>Chí phí treo quảng cáo là 20 đô cho 7 ngày.</label><br/>
        <label>Tên hãng quảng cáo</label><br/><br/>
        <input type="text"  name="txtName"  /><br/>
        <label>Ảnh quảng cáo</label><br/>
        <input type="file"  name="fileImage"  /><br/><br/>
        <input type="submit"  value="Add new"  /></td>
       </form>
        

   </body>
</html>