.detail-body{
    width: 80%;
    margin: 0 auto;
    background-color: #ffff;
}
.imageproduct{
    height: 500px;
    cursor: crosshair;
}
.div-nameofproduct{
    border-bottom: 1px solid #eee;
}
.price{
    font-weight: bold;
}
.shipnow{
    padding: 5px 10px;
    border: 1px solid #eee;
    background-color: #eee;
    width: 55%;
}
.dashboard{
    color: red;
    font-size: 20px;
}
.btnbuy-addtocart{
    border: 1px solid r#fc0505;
    padding: 15px 112px;
    font-weight: bold;
    color: #ffff;
    font-size: 20px;
    background-color: #fc0505; 
}
.btnbuy-addtocart:hover{
    background-color: #cd1818;
}
.Col-detailshort{
    border-right: 1px solid black;
}